{% extends 'base_templates/base.html' %}

{% load static %}

{% block title %}Checkout{% endblock title %}

{% block content %}

<div class="section">
	<div class="container">
		<h5>First name - {{user.first_name}}</h5>
		<h5>Last name - {{user.last_name}}</h5>
		<h5>Email - {{user.email}}</h5>
		<h5>Your money - {{user.money}}</h5>
		<h1>{{user.first_name}} this is your orders:</h1>
<div class="row">
{% for order in orders %}
<div class="col-md-5 order-details">
	<div class="section-title text-center">
		<h3 class="title">Order {{ order.id }}</h3>
	</div>
	<div class="order-summary">
		<div class="order-col">
			<div><strong>PRODUCT</strong></div>
			<div><strong>TOTAL</strong></div>
			
		</div>
		{% for item in order.item_list %}
		<div class="order-products">
			
			<div class="order-col">
				<div>{{item.quantity}}x {{item.product.title}}</div>
				<div>${{item.get_cost}}</div>
			</div>
			
		</div>
		{% endfor %}
		<div class="order-col">
			<div>Shiping</div>
			<div><strong>FREE</strong></div>
		</div>
		<div class="order-col">
			<div>Order time</div>
			<div><strong>{{order.created_at}}</strong></div>
		</div>
		<div class="order-col">
			<div><strong>TOTAL</strong></div>
			<div><strong class="order-total">${{ order.total_cost }}</strong></div>
		</div>
		{% if order.request_to_return and order.is_returned == None %}
		<div class="order-col">
			<div><strong>Return status</strong></div>
			<div><strong class="order-total">Under consideration</strong></div>
		</div>
		{% endif %}
		{% if order.is_returned %}
		<div class="order-col">
			<div><strong>Return status</strong></div>
			<div><strong class="order-total">Approved</strong></div>
		</div>
		{% endif %}
		{% if order.is_returned == False %}
		<div class="order-col">
			<div><strong>Return status</strong></div>
			<div><strong class="order-total">Rejected</strong></div>
		</div>
		{% endif %}
	</div>

	{% if order.can_return and order.is_returned == None and not order.request_to_return %}
    <form method="post" action="{% url 'return_order' order_id=order.id %}">
        {% csrf_token %}
		<button class="add-to-cart-btn" type="submit">Request Return</button>
    </form>
    {% endif %}
</div>
{% empty %}
<div>
  <h1>No orders found.</h1>
{% endfor %}
</div>
</div>
</div>
{% endblock content %}

