{% extends 'base_templates/base.html' %}

{% load static %}

{% block title %}OrdersList{% endblock title %}

{% block content %}

<div class="section">
	<div class="container">
        <ul>
            {% for object in object_list %}
            <li><h4>Order {{object.id}}</h4></li>
            <li><h5>User: {{ object.user }}</h5></li>
            <li><h5>Products: <ul>
                {% for item in object.item_list %}
                <li>title: {{item.product.title}} / quantity: {{item.quantity}} / price: {{item.get_cost}}</li>
                {% endfor %}
            </ul></h5></li>
            <li><h5>Create: {{ object.created_at }}</h5></li>
            <li><h5>Total: ${{ object.total_cost }}</h5></li>
            <li><h5>Request to teturn: {{ object.request_to_return }}</h5></li>
            {% if object.request_to_return %}
            <li><h5>Returned: {{ object.is_returned }}</h5></li>
            {% endif %}
            {% if object.request_to_return and object.is_returned == None %}

            <form method="post" action="{% url 'return_money' order_id=object.id %}">
                {% csrf_token %}
                <button class="add-to-cart-btn" type="submit">Return money</button>
            </form>

            <form method="post" action="{% url 'decline_return' order_id=object.id %}">
                {% csrf_token %}
                <button class="add-to-cart-btn" type="submit">Decline</button>
            </form>

            {% endif %}
            
            <hr/>
            {% empty %}
            <li>No objects yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}